/* Estilo global */
nav{
    position: relative;
    top: 0;
    font-style: Arial;
    box-shadow: 1px 2px 5px black;
}
body {
    background-color: #f4f7fc;
    font-family: 'Roboto', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container principal */
#appCep {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
}

.formulario {
    margin-bottom: 20px;
}

/* Estilo para labels e inputs */
.form-label {
    font-weight: 600;
    margin-bottom: 8px;
    display: inline-block;
    color: #555;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.2);
}

/* Estilo para o botão */
.btn-primary {
    background-color: #4a90e2;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #357ABD;
}

/* Estilo para inputs readonly */
.form-control[readonly] {
    background-color: #f7f9fc;
    color: #999;
}

/* Layout responsivo */
@media (max-width: 768px) {
    #appCep {
        padding: 15px;
    }

    .form-control {
        font-size: 14px;
    }

    .btn-primary {
        font-size: 16px;
    }

}

fa-brands{
    background-color: white;
}